Categorize the following problems into classification, regression, clustering or dimension reduction, 
while also noting down the input and output variables: \\

a. Summarize the grades of all 50 courses that a student using 5 numbers assuming that the 
performance on some of the courses might be correlated. \\
Ans: Dimension reduction because we are reducing the dimension from 50 grades to a 5 number dimension and input will be feature vector of grades of all 50 courses and output will be 5 numbers summarizing him/her \\

----------
b. Divide students into unspecified personality groups based student based on their performance 
in various courses and extra-curricular activities. \\
Ans: Clustering because here we are forming a cluster of groups of students on the basis oof their performane , its an unsupervised learning. Input will be feature vector comprising of his/her performance and output a cluster number assigned to them \\

----------
c. Predict the salary of a student after two years of graduating based on his/her performance in 
various courses, extra-curricular activities, and their first job type. \\
Ans: Regression and input will be a feature vector comprising his/her performance in various courses, extra-curricular activities, and their first job type and output will be predicted salary \\

----------
d. Predict the best type of job for a student based on his/her performance in various courses and extra-curricular activities. \\
Ans: Classification and input will be a feature vector comprising his/her performance in various courses, extra-curricular activities and output will be the best type of job prediction \\

##Q.2

Problem : Classification \\
Framework : SVM-C with Gaussian kernel \\
Target output : one hot integer \\
Parameters : Coefficients and intercept of the hyperplane equation \\
Hyperparamters : Regularisation parameter, class weight \\
Scikit-learn commands : sklearn.svm.SVC() \\

----------
Problem : Regression \\
Framework : SVM-R with Gaussian kernel \\
Target output : floating point \\
Parameters : Coefficients and intercept of the hyperplane equation \\
Hyperparamters : Regularisation parameter, epsilon \\
Scikit-learn commands : sklearn.svm.SVR() \\

----------
Problem : Classification \\
Framework : NN with one 
hidden layer \\
Target output : one hot integer \\
Parameters : Activation function, weights and biases \\
Hyperparamters : Regularisation parameter, no of neurons in hidden layers \\
Scikit-learn commands : sklearn.neural_network.MLPClassifier() \\

----------
Problem : Regression \\
Framework : NN with one 
hidden layer \\
Target output : floating point \\
Parameters : Activation function, weights and biases \\
Hyperparamters : Regularisation parameter, no of neurons in hidden layers \\
Scikit-learn commands : sklearn.neural_network.MLPRegressor() \\

----------
Problem : Classification \\
Framework : Random Forest \\
Target output : one hot integer \\
Parameters : no of features and output \\
Hyperparamters : No of tress, max depth, min sample leaf, min sample split \\
Scikit-learn commands : sklearn.ensemble.RandomForestClassifier() \\

----------
Problem : Regression \\
Framework : Random Forest \\
Target output : floating point \\
Parameters : no of features and output \\
Hyperparamters : No of tress, max depth, min sample leaf, min sample split \\
Scikit-learn commands : sklearn.ensemble.RandomForestRegressor() \\


----------
Problem : Clustering \\
Framework : k-means \\
Target output : Cluster centre \\
Parameters : coordinates of cluster centre \\
Hyperparamters : no of cluster  \\
Scikit-learn commands : sklearn.cluster.KMeans() \\

----------
Problem : Clustering \\
Framework : DBSCAN \\
Target output : an array \\
Parameters : core sample indices \\
Hyperparamters : eps(maximum distance between two samples), no of sample  \\
Scikit-learn commands : sklearn.cluster.DBSCAN() \\

----------
Problem : Dimension Reduction \\
Framework : PCA \\
Target output : nothing \\
Parameters : nothing \\
Hyperparamters : no of components \\
Scikit-learn commands : sklearn.decomposition.PCA() \\

----------
Problem : Dimension Reduction \\
Framework : kernel PCA \\
Target output : nothing \\
Parameters : nothing \\
Hyperparamters : no of components,type of  kernel \\
Scikit-learn commands : sklearn.decomposition.KernelPCA() \\

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import sklearn.model_selection
from sklearn import datasets, linear_model
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
import math

In [2]:
url = "https://raw.githubusercontent.com/gyandevgupta/DS203_Assignment/master/SeoulBikeData.csv"

In [3]:
df3 = pd.read_csv(url, encoding = 'unicode_escape')
df3

            Date  Rented Bike Count  Hour  ...  Seasons     Holiday  Functioning Day
0     01/12/2017                254     0  ...   Winter  No Holiday              Yes
1     01/12/2017                204     1  ...   Winter  No Holiday              Yes
2     01/12/2017                173     2  ...   Winter  No Holiday              Yes
3     01/12/2017                107     3  ...   Winter  No Holiday              Yes
4     01/12/2017                 78     4  ...   Winter  No Holiday              Yes
...          ...                ...   ...  ...      ...         ...              ...
8755  30/11/2018               1003    19  ...   Autumn  No Holiday              Yes
8756  30/11/2018                764    20  ...   Autumn  No Holiday              Yes
8757  30/11/2018                694    21  ...   Autumn  No Holiday              Yes
8758  30/11/2018                712    22  ...   Autumn  No Holiday              Yes
8759  30/11/2018                584    23  ...   Autumn  No Holiday              Yes

[8760 rows x 14 columns]

a. Decide whether the variable to be predicted is discrete or continuous. Also, decide if this is a 
supervised or an unsupervised problem. For the former, find the target variable. \\

Ans : The predicted variable no of rented bike is continuous although its discretized in the integer but its large number of integer so we could take it to be continuos and its an supervised learning problem because we have input feature vector and target variable too in data set

b. Decide on a measure of performance, e.g. accuracy, area under ROC curve, F1-score, 
sensitivity, specificity, variance explained, Davies-Bouldin criteria, reconstruction error, root 
mean square error (RMSE), RMSE normalized by standard deviation of the target variable,
mean absolute error etc \\ 

Ans : The above problem is a regression problem so RMSE is a good measure of performance

c. Decide which variables might be relevant for predicting the target variable. \\

Ans: "Date" doesn't much affects the rented bike count as we already have season and functioning or non functioning day. Also the "dew point temperature" is sort of being taken care when we talk about the Temperature and Humidity

In [4]:
df3 = df3.drop(columns = ["Dew point temperature(°C)", "Date"] )
df3

      Rented Bike Count  Hour  ...     Holiday  Functioning Day
0                   254     0  ...  No Holiday              Yes
1                   204     1  ...  No Holiday              Yes
2                   173     2  ...  No Holiday              Yes
3                   107     3  ...  No Holiday              Yes
4                    78     4  ...  No Holiday              Yes
...                 ...   ...  ...         ...              ...
8755               1003    19  ...  No Holiday              Yes
8756                764    20  ...  No Holiday              Yes
8757                694    21  ...  No Holiday              Yes
8758                712    22  ...  No Holiday              Yes
8759                584    23  ...  No Holiday              Yes

[8760 rows x 12 columns]

d. Decide which variables are usable. \\

Ans: Data like season, holiday, functioning, snowfall, rainfall, solar radiation. temeperature, humitidity, hours, wind speed, visibility are usable

e. Convert categorical variables into one-hot bit dummy variables, and standardize (or normalize) 
the continuous variables. Also, figure out a way to deal with a few missing variables.

In [5]:
df3.info()
print()
df3.nunique(dropna = True)
# enc_df = pd.DataFrame(OneHotEncoder(use_cat_names=True).fit_transform(df3[["Holiday"]]).toarray())
# df3 = df3.join(enc_df)
# df3
encoder = OneHotEncoder(sparse=False)
enc_df = pd.DataFrame(encoder.fit_transform(df3[["Holiday"]]))
enc_df.columns = encoder.get_feature_names(["Holiday"])
df3.drop(["Holiday"],axis = 1, inplace = True)
df3 = pd.concat([df3,enc_df],axis=1)
enc_df = pd.DataFrame(encoder.fit_transform(df3[["Functioning Day"]]))
enc_df.columns = encoder.get_feature_names(["Functioning Day"])
df3.drop(["Functioning Day"],axis = 1, inplace = True)
df3 = pd.concat([df3,enc_df],axis=1)
enc_df = pd.DataFrame(encoder.fit_transform(df3[["Seasons"]]))
enc_df.columns = encoder.get_feature_names(["Seasons"])
df3.drop(["Seasons"],axis = 1, inplace = True)
df3 = pd.concat([df3,enc_df],axis=1)
df3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rented Bike Count        8760 non-null   int64
 1   Hour                     8760 non-null   int64
 2   Temperature(°C)          8760 non-null   float64
 3   Humidity(%)              8760 non-null   int64
 4   Wind speed (m/s)         8760 non-null   float64
 5   Visibility (10m)         8760 non-null   int64
 6   Solar Radiation (MJ/m2)  8760 non-null   float64
 7   Rainfall(mm)             8760 non-null   float64
 8   Snowfall (cm)            8760 non-null   float64
 9   Seasons                  8760 non-null   object
 10  Holiday                  8760 non-null   object
 11  Functioning Day          8760 non-null   object
dtypes: float64(5), int64(4), object(3)
memory usage: 821.4+ KB

      Rented Bike Count  Hour  ...  Seasons_Summer  Seasons_Winter
0                   254     0  ...             0.0             1.0
1                   204     1  ...             0.0             1.0
2                   173     2  ...             0.0             1.0
3                   107     3  ...             0.0             1.0
4                    78     4  ...             0.0             1.0
...                 ...   ...  ...             ...             ...
8755               1003    19  ...             0.0             0.0
8756                764    20  ...             0.0             0.0
8757                694    21  ...             0.0             0.0
8758                712    22  ...             0.0             0.0
8759                584    23  ...             0.0             0.0

[8760 rows x 17 columns]

In [6]:
#Normalizing the below column list 
mean3 = df3.mean()
std3 = df3.std()
df3 = (df3 - mean3) / std3
df3

      Rented Bike Count      Hour  ...  Seasons_Summer  Seasons_Winter
0             -0.698611 -1.661230  ...       -0.580481        1.747915
1             -0.776130 -1.516775  ...       -0.580481        1.747915
2             -0.824192 -1.372320  ...       -0.580481        1.747915
3             -0.926518 -1.227866  ...       -0.580481        1.747915
4             -0.971480 -1.083411  ...       -0.580481        1.747915
...                 ...       ...  ...             ...             ...
8755           0.462634  1.083411  ...       -0.580481       -0.572045
8756           0.092090  1.227866  ...       -0.580481       -0.572045
8757          -0.016437  1.372320  ...       -0.580481       -0.572045
8758           0.011470  1.516775  ...       -0.580481       -0.572045
8759          -0.186981  1.661230  ...       -0.580481       -0.572045

[8760 rows x 17 columns]

f. If there are too many variables, then consider dimension reduction techniques such as PCA. \\

I think its not required because the no of variables are manageable so PCA isn't required

g. Consider ML frameworks that work with the type of problem and the input variables, and try 
to order them based on whether they are likely to succeed based on the number of variables 
and the number of samples. For example, some ML frameworks fare better with fewer samples 
and higher dimensions (e.g. LASSO regression), while others are scalable with more samples
(e.g. neural networks, RF, and kernelized SVM). Pick two-three ML frameworks.\\

Lets choose SVM and Random Forest Regression

In [7]:
X = df3.drop(columns=["Rented Bike Count"])
Y = df3[["Rented Bike Count"]]
X = np.array(X)
Y = np.array(Y)
X_train, X_rem, y_train, y_rem = sklearn.model_selection.train_test_split(X, Y, test_size=0.7)
X_validate, X_test, y_validate, y_test = sklearn.model_selection.train_test_split(X_rem, y_rem, test_size=0.5)

##Support Vector Machine

In [8]:
param_grid_SVM = {
    'C': [0.001,0.01,0.1, 1, 10, 100],
    'epsilon': [2,1, 0.1, 0.01, 0.001],
    'kernel': ['rbf']
}

gscv_svm = GridSearchCV(estimator = SVR(),param_grid = param_grid_SVM, cv=5)
gscv_svm_result = gscv_svm.fit(X_train,y_train.ravel())
# print(gscv_svm_result.best_estimator_)
# print(gscv_svm_result.best_score_)

In [9]:
best_param_svm = gscv_svm_result.best_params_
score = cross_validate(SVR(kernel=best_param_svm['kernel'],epsilon = best_param_svm['epsilon'], C = best_param_svm['C']),X_test,y_test.ravel(),scoring = 'neg_mean_squared_error')
# print(score)
print(" RMSE :", math.sqrt(abs(score['test_score'].mean())))

 RMSE : 0.45073252408349995

## Random Forest

In [11]:
param_grid_RF = {
  'n_estimators': [10, 50, 100, 200, 400, 700, 1000],
  'max_depth': np.linspace(60,130,8),
  'min_samples_leaf': [1, 2, 4]
}

gscv_rf = GridSearchCV(estimator = RandomForestRegressor(),param_grid = param_grid_RF, cv=5)
gscv_rf_result = gscv_rf.fit(X_train,y_train.ravel())

In [12]:
best_param_rf = gscv_rf_result.best_params_
score = cross_validate(RandomForestRegressor(n_estimators=best_param_rf['n_estimators'],max_depth = best_param_rf['max_depth'], min_samples_leaf = best_param_rf['min_samples_leaf']),X_test,y_test.ravel(),scoring = 'neg_mean_squared_error')
# print(score)
print(" RMSE :", math.sqrt(abs(score['test_score'].mean())))

 RMSE : 0.3797370854685033

On comparing we get the RMSE to be lower for Random Forest so that would be a good one to apply for this dataset