In [1]:
import numpy as np
import pandas as pd
from scipy.stats import entropy
import sklearn.model_selection
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

1. Download the dataset from above shared link.

In [2]:
url1 = "https://raw.githubusercontent.com/gyandevgupta/DS203_Assignment/master/Real%20estate%20valuation%20data%20set.csv"

2. Load the dataset into your python program and do pre-processing (remove the first row and
first column as they are not useful).

In [3]:
df = pd.read_csv(url1)
df.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [4]:
#dropping column
df.drop(df.columns[[0]], axis = 1, inplace = True)
X = df.drop(columns=["Y house price of unit area"])
X.sample(n=10)

     X1 transaction date  X2 house age  ...  X5 latitude  X6 longitude
329             2013.000          13.6  ...     24.93885     121.50383
320             2012.750          13.5  ...     24.93885     121.50383
41              2013.500          16.8  ...     24.94297     121.50342
70              2013.583           6.6  ...     24.97433     121.54310
10              2013.083          34.8  ...     24.97349     121.53372
6               2012.667          34.5  ...     24.97933     121.53642
203             2012.667          15.6  ...     24.98203     121.54348
53              2013.083          13.3  ...     24.96515     121.53737
193             2013.417           9.7  ...     24.98246     121.54477
164             2012.833           0.0  ...     24.97110     121.53170

[10 rows x 6 columns]

In [5]:
Y = df[["Y house price of unit area"]]
Y.sample(n=10)

     Y house price of unit area
406                        40.5
195                        34.6
291                        54.4
43                         34.1
386                        55.3
392                        35.3
352                        25.7
367                        20.9
221                        38.5
63                         55.0

In [6]:
X = np.array(X)
Y = np.array(Y)

3. Split loaded dataset into train and test dataset by keeping 80% samples in train dataset
and remaining 20% samples in test dataset

In [7]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.2)

4. Now train linear regression model on train dataset (note that the last column (house price)
is the output).

In [8]:
regressor = linear_model.LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

5. Report coefficients (weights corresponding to features) and intercept of trained model.

In [9]:
print('Coefficients: \n', regressor.coef_)

Coefficients:
 [[ 5.20764322e+00 -2.80183573e-01 -4.90529057e-03  1.10532562e+00
   1.95532821e+02 -2.69491098e+01]]

In [10]:
print('Intercepts: \n', regressor.intercept_)

Intercepts:
 [-12047.33297201]

6. Predict price for every house (sample) in test dataset.

In [11]:
y_predict = regressor.predict(X_test)

7. Compute mean squared error and r
2
value using predicted price and true price.

In [12]:
print('Mean squared error: %.8f'
      % mean_squared_error(y_test, y_predict))
print('r2 value: %.8f'
      % r2_score(y_test, y_predict))

Mean squared error: 53.11345280
r2 value: 0.67146289

8. Repeat Step 4-6 for following train and test split: 60:40, 70:30, and 90:10. Report mean
squared error and r
2
value for each split.

In [13]:
test_size_range = [0.4,0.3,0.1]
for val in test_size_range:
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size= val)
  regressor = linear_model.LinearRegression()
  regressor.fit(X_train,y_train)
  print('test size ratio :' +str(val) +"\n")
  print('Coefficients: ', regressor.coef_)
  print('Intercepts: ', regressor.intercept_)
  y_predict = regressor.predict(X_test)
  print('Mean squared error: %.8f'
        % mean_squared_error(y_test, y_predict))
  print('r2 value: %.8f \n'
        % r2_score(y_test, y_predict))

test size ratio :0.4

Coefficients:  [[ 3.31368742e+00 -3.09739396e-01 -3.75297064e-03  1.35284345e+00
   2.46362228e+02  3.06741693e+01]]
Intercepts:  [-16508.5665704]
Mean squared error: 106.28968500
r2 value: 0.44606387

test size ratio :0.3

Coefficients:  [[ 4.77341073e+00 -2.92305046e-01 -5.53934387e-03  9.72360675e-01
   2.06074142e+02 -4.68005315e+01]]
Intercepts:  [-9022.16410429]
Mean squared error: 61.16670540
r2 value: 0.61913857

test size ratio :0.1

Coefficients:  [[ 4.89915907e+00 -2.87211549e-01 -4.44317084e-03  1.20460092e+00
   2.26186359e+02 -1.64635977e+01]]
Intercepts:  [-13466.56969555]
Mean squared error: 75.63160258
r2 value: 0.47636314

So the r2 value is highest and mean squared error is lowest for the test ratio 0.2

9. Use Ridge regression and Lasso models with following λ values (regularization parameter):
0.001, 0.005, 0.01, 0.05, 0.1, and 0.5. Report mean squared error and r
2
value for each
alpha value with all train and test split ratios given in Step 7.

#### Ridge

In [14]:
alpha_range = [0.001,0.005,0.01,0.05,0.1,0.5]
for val in alpha_range:
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.4)
  regressor = linear_model.Ridge(alpha = 0.001)
  regressor.fit(X_train,y_train)
  print('Case : alpha = ' + str(val) + '\n')
  print('Coefficients: ', regressor.coef_)
  print('Intercepts: ', regressor.intercept_)
  y_predict = regressor.predict(X_test)
  print('Mean squared error: %.8f'
        % mean_squared_error(y_test, y_predict))
  print('r2 value: %.8f \n'
        % r2_score(y_test, y_predict))

Case : alpha = 0.001

Coefficients:  [[ 5.86982746e+00 -2.96680433e-01 -4.23777848e-03  1.44156523e+00
   2.09017745e+02  1.54982103e+01]]
Intercepts:  [-18877.03963849]
Mean squared error: 107.04327196
r2 value: 0.39291696

Case : alpha = 0.005

Coefficients:  [[ 6.02993378e+00 -2.73044152e-01 -5.65911120e-03  9.68126029e-01
   1.87031212e+02 -4.93787175e+01]]
Intercepts:  [-10763.01725677]
Mean squared error: 64.14229920
r2 value: 0.63544295

Case : alpha = 0.01

Coefficients:  [[ 6.23930820e+00 -2.49023143e-01 -4.91131328e-03  1.06281747e+00
   1.66956994e+02  1.49801058e+01]]
Intercepts:  [-18506.18586297]
Mean squared error: 65.21588328
r2 value: 0.64094892

Case : alpha = 0.05

Coefficients:  [[ 4.07064198e+00 -2.87096814e-01 -5.36159947e-03  1.20770010e+00
   1.82259654e+02 -5.21871331e+01]]
Intercepts:  [-6359.36940375]
Mean squared error: 57.40824842
r2 value: 0.62797334

Case : alpha = 0.1

Coefficients:  [[ 4.24788001e+00 -2.69041110e-01 -5.46148222e-03  1.04531767e+00
   2.05080292e+02 -4.76701870e+01]]
Intercepts:  [-7834.54221257]
Mean squared error: 63.80182397
r2 value: 0.61323362

Case : alpha = 0.5

Coefficients:  [[ 3.67412878e+00 -2.44856335e-01 -3.47532161e-03  1.25585223e+00
   3.12002911e+02  4.25356400e+01]]
Intercepts:  [-20315.43690008]
Mean squared error: 113.54393551
r2 value: 0.46151250

In ridge, highest r2 value is for alpha = 0.01 and lowest mean squared error is for alpha = 0.001 but here the MSE is very high

#### Lasso

In [15]:
alpha_range = [0.001,0.005,0.01,0.05,0.1,0.5]
for val in alpha_range:
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.4)
  regressor = linear_model.Lasso(alpha = 0.001)
  regressor.fit(X_train,y_train)
  print('Case : alpha = ' + str(val) + '\n')
  print('Coefficients: ', regressor.coef_)
  print('Intercepts: ', regressor.intercept_)
  y_predict = regressor.predict(X_test)
  print('Mean squared error: %.8f'
        % mean_squared_error(y_test, y_predict))
  print('r2 value: %.8f \n'
        % r2_score(y_test, y_predict))

Case : alpha = 0.001

Coefficients:  [ 8.04311317e+00 -2.19415756e-01 -4.59569760e-03  1.16655963e+00
  1.73455096e+02 -1.54441692e+01]
Intercepts:  [-18604.32085538]
Mean squared error: 51.79887354
r2 value: 0.69676559

Case : alpha = 0.005

Coefficients:  [ 5.71921808e+00 -2.51733033e-01 -5.32497835e-03  1.12325203e+00
  1.67774770e+02 -3.82060958e+01]
Intercepts:  [-11015.88755435]
Mean squared error: 57.61916120
r2 value: 0.66523268

Case : alpha = 0.01

Coefficients:  [ 5.32946056e+00 -2.97566876e-01 -5.31686884e-03  9.85127401e-01
  2.03209065e+02 -1.01356934e+02]
Intercepts:  [-3440.06247895]
Mean squared error: 71.14676889
r2 value: 0.56727100

Case : alpha = 0.05

Coefficients:  [ 4.67603742e+00 -2.45405140e-01 -3.65881350e-03  1.08394233e+00
  2.88281204e+02  8.76419995e+00]
Intercepts:  [-17635.38341475]
Mean squared error: 105.93420924
r2 value: 0.49639010

Case : alpha = 0.1

Coefficients:  [ 3.18790059e+00 -3.48467669e-01 -3.98345518e-03  1.16129340e+00
  2.33133510e+02 -2.29152696e+00]
Intercepts:  [-11917.24855819]
Mean squared error: 119.63344141
r2 value: 0.43275625

Case : alpha = 0.5

Coefficients:  [ 6.88880109e+00 -2.68382456e-01 -5.39947198e-03  9.97107249e-01
  2.03295518e+02 -5.68168623e+01]
Intercepts:  [-11994.0956909]
Mean squared error: 68.32813569
r2 value: 0.58432753

In Lasso, Highest r2 value is for alpha = 0.001 and lowest mean squared error is for alpha = 0.001 a good sign

#Q.2

1. Download the dataset from above shared link.

In [16]:
url2 = "https://raw.githubusercontent.com/gyandevgupta/DS203_Assignment/master/haberman.data"

2. Load the dataset into your python program and do pre-processing (like separating features
and class labels).

In [17]:
df = pd.read_csv(url2, names = ["Age of patient at the time of operation","Patient year of operation (year -1900)","Number of positive auxillary node","Survival status"])
df.head()

   Age of patient at the time of operation  ...  Survival status
0                                       30  ...                1
1                                       30  ...                1
2                                       30  ...                1
3                                       31  ...                1
4                                       31  ...                1

[5 rows x 4 columns]

In [18]:
#dropping column
X = df.drop(columns=["Survival status"])
X.sample(n=10)

     Age of patient at the time of operation  ...  Number of positive auxillary node
266                                       65  ...                                  0
245                                       63  ...                                  1
50                                        41  ...                                  8
148                                       52  ...                                  0
124                                       50  ...                                 13
133                                       50  ...                                  0
241                                       62  ...                                  6
138                                       51  ...                                  7
274                                       67  ...                                  1
82                                        45  ...                                  1

[10 rows x 3 columns]

In [19]:
Y = df[["Survival status"]]
Y.sample(n=10)

     Survival status
231                2
279                1
24                 2
149                1
212                1
179                1
3                  1
104                1
262                1
5                  1

In [20]:
X = np.array(X)
Y = np.array(Y)

3. Split loaded dataset into train and test dataset by keeping 80% samples in train dataset
and remaining 20% samples in the test dataset.

In [21]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.2)

4. Now train logistic regression model on train dataset (note that the last column (Survival
status) is the class label).

In [22]:
regressor = linear_model.LogisticRegression()
regressor.fit(X_train,y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

5. Report coefficients and intercept of the trained logistic model.

In [23]:
print('Coefficients: ', regressor.coef_)
print('Intercepts: ', regressor.intercept_)

Coefficients:  [[0.0135091  0.02266219 0.09499242]]
Intercepts:  [-3.62118924]

6. Predict the survival status of patients in the test dataset.

In [24]:
y_predict = regressor.predict(X_test)

7. Compute classification error using predicted survival status and true survival status as
follows 
where m is the number of samples in the test dataset, yˆs and ys are the predicted label and
the true label for the sample ‘s
0 of the test dataset, respectively.

In [25]:
score = regressor.score(X_test, y_test)
print("Classification error : " + str(score))

Classification error : 0.7096774193548387

8. Repeat Step 4-7 for following train and test split: 60:40, 70:30, and 90:10. Report classification error for each split.

In [26]:
test_size_range = [0.4,0.3,0.1]
for val in test_size_range:
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.2)  
  regressor = linear_model.LogisticRegression()
  regressor.fit(X_train,y_train.ravel())
  print('test size ratio :' +str(val) +"\n")
  print('Coefficients: ', regressor.coef_)
  print('Intercepts: ', regressor.intercept_)
  y_predict = regressor.predict(X_test)
  score = regressor.score(X_test, y_test)
  print("Classification error : " + str(score)+"\n")

test size ratio :0.4

Coefficients:  [[ 0.01917302 -0.01738662  0.0944041 ]]
Intercepts:  [-1.36275343]
Classification error : 0.7580645161290323

test size ratio :0.3

Coefficients:  [[ 0.00871382 -0.00914001  0.09156632]]
Intercepts:  [-1.31729939]
Classification error : 0.7419354838709677

test size ratio :0.1

Coefficients:  [[ 0.01432302 -0.00173196  0.08203292]]
Intercepts:  [-2.05916264]
Classification error : 0.7096774193548387

Here, the classification error is highest for test ratio 0.4